<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">Add Course</a>
    <a class="navbar-brand" href="#">Nhóm 13</a>
</nav>
<div class="container">
    <div layout:fragment="content" class="row">
        <div class="col-12">
            <div th:each="course : ${listcourse}" class="course-card">
                <div class="course-date" th:text="${#temporals.format(course.startDate, 'dd MMM yyyy')}">
                    <!-- Date will be displayed here -->
                </div>
                <div class="course-info">
                    <div th:text="${course.lectureName}">Lecture Name</div>
                    <div th:text="${course.place}">Place</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center mt-4">
    <p>Lập trình ứng dụng Java - Nguyễn Huy Cường - @2023</p>
</footer>
</body>
</html>
