<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/course/home">Home</a>
    <a class="navbar-brand" href="/course/create">Add Course</a>
    <a class="navbar-brand" href="#">Nhóm 13</a>
</nav>
<div class="container mt-4">
    <div layout:fragment="content" class="row">
        <div class="col-12">
            <div th:each="course : ${listcourse}" class="course-card border rounded p-3 my-3">
                <div class="course-date" th:text="${#temporals.format(course.startDate, 'dd MMM yyyy')}">
                    <!-- Date will be displayed here -->
                </div>
                <div class="course-info">
                    <div th:text="${course.lectureName}">Lecture Name</div>
                    <div th:text="${course.place}">Place</div>
                </div>
                <div class="course-actions mt-3">
                    <a th:href="@{/course/update/{id}(id=${course.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/course/delete/{id}(id=${course.id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center mt-4">
    <p>Lập trình ứng dụng Java - Nguyễn Huy Cường - @2024</p>
</footer>
</body>
</html>
